* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;

  .container {
    max-width: 1000px;
    padding: 40px;
    border: 1px solid #000;
    display: flex;
    // background: #000;

    h3,
    p {
      color: #fff;
    }

    h3 {
      position: relative;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 40px;
        height: 2px;
        background: red;
      }
    }

    li {
      list-style-type: none;

      svg{
        width: 50px;
        height: 50px;
      }

    }
  }
}
